<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="info"
    internalLogFile="/var/log/mpgp/internal-nlog.txt">

    <variable name="clientLogFile" value="/var/log/mpgp/${shortdate}/client.log" />
    <variable name="clientLogLayout" value="[${longdate}] ${message}" />
    <variable name="logPath" value="/var/log/mpgp/${shortdate}/${appdomain:format={0\}.{1\}}" />
    <variable name="logLayoutAll" value="${uppercase:${level}}: [${longdate}] ${logger} '${message}'  | ${exception:format=tostring}" />
    <variable name="logLayoutOurWeb" value="${var:logLayoutAll} |URL: ${aspnet-request-url} |ACTION: ${aspnet-mvc-action} |${callsite}" />

    <extensions>
        <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>

    <targets>
        <target xsi:type="ElasticSearch" name="elastic" uri="http://localhost:9200" index="mpgp-${date:format=yyyy.MM.dd}" documentType="logevent" includeAllProperties="true"/>
        <!-- Write logs to console -->
        <target xsi:type="Console" name="consoleAllError" layout="${var:logLayoutAll}" />
        <target xsi:type="Console" name="consoleOwnWebError" layout="${var:logLayoutOurWeb}" />

        <!-- Write logs to file -->
        <target xsi:type="File" name="fileAllMain" fileName="${var:logPath}/allMain.log" layout="${var:logLayoutAll}" />
        <target xsi:type="File" name="fileAllError" fileName="${var:logPath}/allError.log" layout="${var:logLayoutAll}" />
        <target xsi:type="File" name="fileClientError" fileName="${var:clientLogFile}" layout="${var:clientLogLayout}" />

        <!-- Another file log, only own logs. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="fileOwnWebMain" fileName="${var:logPath}/ownWebMain.log" layout="${var:logLayoutOurWeb}" />
        <target xsi:type="File" name="fileOwnWebError" fileName="${var:logPath}/ownWebError.log" layout="${var:logLayoutOurWeb}" />
    </targets>
    <rules>
        <!-- Client logs -->
        <logger name="Mpgp.RestApiServer.Controllers.ExceptionController*" minlevel="Error" writeTo="fileClientError" final="true" />  <!-- BlackHole -->

        <!-- All logs, including from Microsoft -->
        <logger name="*" maxlevel="Warn" writeTo="fileAllMain," />
        <logger name="*" minlevel="Error" writeTo="fileAllError,consoleAllError" />

        <!-- Skip non-critical Microsoft logs and so log only own logs -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />  <!-- BlackHole -->
        <logger name="*" maxlevel="Warn" writeTo="fileOwnWebMain,elastic" />
        <logger name="*" minlevel="Error" writeTo="fileOwnWebError,consoleOwnWebError,elastic" />
    </rules>
</nlog>